
.flex-container {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    align-content: wrap;
    background-color: rgb(253 205 127);
  }
  #e19f34

  .flex-container conteudo1 >  {
    background-color:black;
    width: 150px;
    height: 150px;
    flex-direction: column;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }

  .brown {
    background-color: brown; 
    display: flex; 
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
      }